include ../country
include ../partials/forms

mixin user_form(formTitle, action, user, updateForm)
  +form(action, undefined, updateForm)
    if importMappings
      +hidden('import_mappings', JSON.stringify(importMappings))
    if importFileColumns
      +hidden('import_file_columns', JSON.stringify(importFileColumns))      
    if importFileId
      +hidden('import_file_id', importFileId)      
    if user
      +hidden('id', user.id)
    else
      +is_import('user_id'): +id('id', _t('user_id'))(placeholder='Automatisch')  
    +is_import('user_type')
      .form-row.col-md-12
        +radio('type', _t('user_type_person'))(value='person' selected=_iv(user, 'type') default=true)
        +radio('type', _t('user_type_organisation'))(value='organisation' selected=_iv(user, 'type'))
    .form-row.radio-inputs(id="person_inputs")
      +is_import('user_title_prefix', 'title_prefix')(groupClass="col-md-2"): +text('title_prefix')(value=_iv(user, 'title_prefix') groupClass="col-md-2" icon='fa-graduation-cap')
      +is_import('user_first_name', 'first_name')(groupClass="col-md-4"): +text('first_name')(value=_iv(user, 'first_name') groupClass="col-md-4" icon='fa-user' required)
      +is_import('user_last_name', 'last_name')(groupClass="col-md-4"): +text('last_name')(value=_iv(user, 'last_name') groupClass="col-md-4" icon='fa-user' required)
      +is_import('user_title_suffix', 'title_suffix')(groupClass="col-md-2"): +text('title_suffix')(value=_iv(user, 'title_suffix') groupClass="col-md-2" icon='fa-graduation-cap')
    .form-row.radio-inputs(id="organisation_inputs").d-none
      +text('organisation_name')(value=_iv(user, 'first_name') groupClass="col" icon="fa-building")
    +is_import('user_street', 'street'): +text('street')(value=_iv(user, 'street') icon="fa-map-marker")
    +is_import('user_address_addon', 'address_addon'): +text('address_addon')(value=_iv(user, 'address_addon') icon="fa-map-marker")
    .form-row
      +is_import('user_zip', 'zip')(groupClass="col-md-4"): +text('zip')(value=_iv(user, 'zip') icon="fa-envelope" groupClass="col-md-4")
      +is_import('user_place', 'place')(groupClass="col-md-8"): +text('place')(value=_iv(user, 'place') icon="fa-city" groupClass="col-md-8")
    +is_import('user_country', 'country')
      +select('country')(value=_iv(user, 'country')||settings.project.get('defaults.country') icon="fa-globe-africa")
        +country_select_options(_iv(user, 'country')||settings.project.get('defaults.country'))
    +is_import('user_telno', 'telno'): +text('telno')(type="tel" value=_iv(user, 'telno') icon="fa-phone")
    +is_import('user_email', 'email'): +text('email')(type="email" value=_iv(user, 'email') icon="fa-at")
    +is_import('user_other_account_owner', 'other_account_owner'): +checkbox('other_account_owner')(value=_iv(user, 'other_account_owner'))
    .form-row
      +is_import('user_other_account_owner_first_name', 'other_account_owner_first_name')(groupClass="other_account_owner col-md-6"+(user !== undefined && user.other_account_owner === true?"":" d-none")): +text('other_account_owner_first_name')(value=_iv(user, 'other_account_owner_first_name') groupClass="other_account_owner col-md-6"+(user !== undefined && user.other_account_owner === true?"":" d-none") icon='fa-user')
      +is_import('user_other_account_owner_last_name', 'other_account_owner_last_name')(groupClass="other_account_owner col-md-6"+(user !== undefined && user.other_account_owner === true?"":" d-none")): +text('other_account_owner_last_name')(value=_iv(user, 'other_account_owner_last_name') groupClass="other_account_owner col-md-6"+(user !== undefined && user.other_account_owner === true?"":" d-none") icon='fa-user')
    .form-row
      +is_import('user_iban', 'IBAN')(groupClass="col-md-8"): +text('IBAN')(value=_iv(user, 'IBAN') icon="fa-credit-card" groupClass="col-md-8")
      +is_import('user_bic', 'BIC')(groupClass="col-md-4"): +text('BIC')(value=_iv(user, 'BIC') groupClass='col-md-4')
    +is_import('user_relationship', 'relationship')
      +select('relationship')(icon='fa-user-friends')
        each type in settings.project.get('defaults.relationships')
          +option(type, type)(selected=_iv(user, 'relationship'))
    +is_import('user_membership_status', 'membership_status')
      +select('membership_status')(icon='fa-user-friends')
        +option('undefined', _t('membership_status_undefined'))(selected=_iv(user, 'membership_status'))
        +option('extern', _t('membership_status_extern'))(selected=_iv(user, 'membership_status'))
        +option('member', _t('membership_status_member'))(selected=_iv(user, 'membership_status'))
    +is_import('user_account_notification_type', 'account_notification_type')
      +select('account_notification_type')(icon='fa-bell')
        +option('no_specification', _t('account_notification_type_none'))(selected=_iv(user, 'account_notification_type'))
        +option('online', _t('account_notification_type_online'))(selected=_iv(user, 'account_notification_type'))
        +option('email', _t('account_notification_type_email'))(selected=_iv(user, 'account_notification_type'))
        +option('mail', _t('account_notification_type_mail'))(selected=_iv(user, 'account_notification_type'))
    +is_import('user_comment', 'comment'): +textarea('comment')(value=_iv(user, 'comment') icon='fa-comment')
    +submit_button()

  script.

    $('input[type=radio][name=type][checked=checked]').change();

    $('input[type="checkbox"][name=other_account_owner]').click(function() {
       if($(this).prop("checked") == true) {
          $('.other_account_owner').removeClass('d-none');
       }
       else if($(this).prop("checked") == false) {
          $('.other_account_owner').addClass('d-none');
       }
    });
